$primary   : #1A73E8;
$secondary : #2D3748;
$accent    : #4299E1;

$dark      : #1A202C;
$dark-page : #121212;

$positive  : #38A169;
$negative  : #E53E3E;
$info      : #3182CE;
$warning   : #DD6B20;
